.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://s3.amazonaws.com/tinycards/image/a288321180dc74ab18c7a693c88ec34d');
  background-size: cover;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
width: 100%;
}